.tableWrapper {
    background: #F8F9FA !important;
    border-radius: 1%;
        box-shadow: 4px 3px 14px -5px rgb(0 0 0 / 80%);
            -webkit-box-shadow: 4px 3px 14px -5px rgb(0 0 0 / 80%);
            
}