.tbodyRowWrapper {
        background: #DADCE0 !important;
}
.theadRowWrapper {
        background: #F8F9FA !important; 
}
.editButtonWrap {
        background: black !important;
        border-color: black !important;
}